<%- include ("partials/header")%>
<%var blog;%>
<div style="padding-top:70px">
<div class="ui main text container segment" data-aos="flip-left">
	<div class="ui huge header">
		New Blog
	</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<input type="text" name="blog[title]" placeholder="title">
		</div>
		<div class="field">
			<input type="text" name="blog[image]" placeholder="image">
		</div>
		<div class="field">
			<textarea name="blog[body]"></textarea>
		</div>
		<div >
			<input type="submit" class="ui blue button">
		</div>
		
	</form>
</div>
</div>

<%- include ("partials/footer")%>